* {
  box-sizing: border-box;
}

:after, :before {
  text-decoration: inherit;
  vertical-align: inherit;
}

body {
  color: #444;
  font: 16px/1.5 "Avenir", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  margin: 0 auto;
  max-width: 75ch;
  padding: 1rem;
}

::selection {
  background-color: #444;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Trebuchet MS", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  margin: 1.5rem 0 1rem;
}

article > h1 {
  margin: 1rem 0 1rem;
}

ul li, ol li {
  margin-top: 0.5rem;
  list-style-type: square;
}

.post__title {
  margin-top: 32px;
}

.post__list {
  margin-top: 32px;
}

a, a:visited {
	color: inherit;
  transition: all 0.5s ease;
	text-decoration: none currentcolor solid;
}

article a, article a:visited {
  border-bottom: 2px solid #e6e6e6;
  color: inherit;
  cursor: pointer;
  padding-bottom: 1px;
  text-decoration: none currentcolor solid;
  touch-action: manipulation;
}

a:hover {
  color: dodgerblue;
}

article a:active, article a:focus {
  border-bottom: 0;
  outline: 0
}

article a:hover {
  border-bottom: 2px solid #BDBDBD;
}

img {
  height: auto;
  max-width: 100%;
}

pre {
  border: 1px solid lightgrey;
  overflow: auto;
}

code {
  color: dimgray;
  display: inline-block;
  word-break: break-all;
}

pre code {
  font-size: 0.8rem;
  padding: 1.5rem;
}

blockquote {
  border-left: 3px solid gray;
  font-style: italic;
  margin: 2.5rem 0 2.5rem 0;
  padding: 0 1rem 0 1rem;
}

table {
  border-collapse: collapse;
  margin: 2rem 0;
  text-align: left;
  width: 100%;
}

.header {
  margin-top: 32px;
}

.header__title {
  font-size: 25px;
}

.header__logo {
  width: 48px;
  height: 48px;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.navbar > li {
  list-style-type: none;
}

.navbar > li:nth-child(n+1), footer > p > a {
  margin-right: 12px;
}

.title-item {
  font-size: 18px;
  margin-bottom: 4px;
}

tr {
  border-bottom: 1px solid lightgrey;
}

th, td {
  padding: 0.5rem;
}

.pagination {
  margin-top: 32px;
}

hr {
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  border: 0;
  height: 1px;
  margin-bottom: 32px;
  margin-top: 32px;
}

table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}

table tr {
    background: white;
    border-bottom: 1px solid lightgrey;
}

table th, table td {
    padding: 10px 20px;
}

table td span {
    background: #eee;
    color: dimgrey;
    display: none;
    font-size: 10px;
    font-weight: bold;
    left: 0;
    padding: 5px;
    position: absolute;
    text-transform: uppercase;
    top: 0;
}

/* Simple CSS for flexbox table on mobile */
@media(max-width: 800px) {
    table thead {
        left: -9999px;
        position: absolute;
        visibility: hidden;
    }

    table tr {
        border-bottom: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 40px;

    }

    table td {
        border: 1px solid lightgrey;
        margin: 0 -1px -1px 0;
        padding-top: 35px;
        position: relative;
        width: 50%;
    }

    table td span {
        display: block;
    }
}
